@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
.poetsenFont {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --primaryText:#fff;
    --secondaryText: #666;
    --incorrectText: #f55;
    --cursorColor: rgb(255, 251, 28)
}

body{
    background-color: #212121;
}

svg{
    width: 21px;
}

#heading{
    margin: 40px 40px;
    color: cyan;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

#header #time{
    color:var(--cursorColor);
    margin-left: 30px; 
    font-family: 'Roboto Mono', monospace;
    font-size: large;
}

#header #newGame{
    margin-left: 85%;
}

#game{
    line-height: 33px;
    height: 99px;
    overflow: hidden;
    font-size: larger;
    margin: 49px 30px;
    position: relative;
}

#parag .word{
    display: inline-block;
    margin: 0px 5px;
    font-family: 'Roboto Mono', monospace;
}

#parag {
    filter: blur(5px);
    color: var(--secondaryText);
}

#focusError{
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 33px;
    color: var(--primaryText);
    font-family: 'Roboto Mono', monospace;
}

#game:focus #parag{
    filter: blur(0px);
}

#game:focus #cursor{
    filter: blur(0px);
}

#game:focus #focusError{
    display: none;
}

#game.over #parag{
    filter: blur(0px)
}

#game.over #focusError{
    display: none;
}

#game.over #cursor{
    display: none;
}

#newGame{
    cursor: pointer;
}

span{
    margin:0px;
    padding: 0px;
}

span.correct{
    color: var(--primaryText);
}

span.incorrect{
    color: var(--incorrectText);
}

#cursor{
    position: fixed;
    background-color:rgb(255, 251, 28);
    width: 1.9px;
    height: 20px;
    top: 254px;
    left: 40px;
    border-radius: 100px;
    animation: cursor 1s infinite;
    filter: blur(5px);
}

@keyframes cursor {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
